body {
	font: 12px/18px "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, Verdana, sans-serif;
	margin: 0;
}

a,
a:hover {
	color: #0088cc;
	text-decoration: none;
}
a:focus {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}

#inputAddress {
	position: absolute;
	top: 999999999px
}
#inputAmount {
	position: absolute;
	top: 999999999px
}

header {
	padding: 1em;
	border-bottom: 4px #0080ff solid;
	text-align: center;
}

header > img {
	width: 30px;
}

header h1 {
	display: inline-block;
}

footer {
	margin-top: 3em;
	padding: 1em;
	border-top: 2px #0080ff solid;
	text-align: center;
}

section {
	text-align: center;
}

section h2 {
	font-size: 1.7em;
	color: #0080ff;
}

h2#paytype {
	text-transform: capitalize;
}

section h3 {
	font-size: 1.6em;
}

div.wrapAddress {
	margin-top: 10px;
}

a#address {
	color: #0080ff;
	font-size: 1.4em;
	text-transform: uppercase;
	font-weight: normal;
	cursor: copy;
}

a#amount {
	cursor: copy;
}

a#paylink {
	font-size: 14px;
	font-weight: bold;
	line-height: 100%;
	color: #fff;
	background: #0080ff;
	border-radius: 3px;
	overflow: hidden;
	display: inline-block;
	padding: 15px 27px 13px;
	text-transform: uppercase;
}

kbd {
	padding: 5px;
	margin: 2px;
	background: #d9ffe2;
	border: 1px #a6caae solid;
	border-radius: 3px;
}
.uriWarning {
	margin-top: 4px;
}
