body {
	font: 12px/18px "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, Verdana, sans-serif;
	margin: 0;
}

a,
a:hover {
	color: #0088cc;
}
a:focus {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

header {
	padding: 14px 16px;
	border-bottom: 4px #0080ff solid;
}

header > img {
	width: 30px;
}

header h1 {
	display: inline-block;
}

section {
	text-align: center;
}

section h2 {
	font-size: 1.7em;
	color: #0080ff;
}

h2#paytype {
	text-transform: capitalize;
}

section h3 {
	font-size: 1.6em;
}

a#paylink {
	font-size: 14px;
	font-weight: bold;
	line-height: 100%;
	color: #FFF;
	background: #0080ff;
	border-radius: 22px;
	overflow: hidden;
	display: inline-block;
	padding: 15px 27px 13px;
	text-transform: uppercase;
	text-decoration: none;
}